.menu-card {
    background: #1e293b !important; /* light */
    border-radius: 20px !important;
}

.menu-card img {
    transition: transform 0.5s ease;
}

.menu-card:hover img {
    transform: scale(1.1); /* big, if hover */
}

/* Add Button with Rounded Corners */
.btn-add {
    border-radius: 50px !important;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 12px;
}